.search{
    margin-bottom: 30px;

}
.search input{
    width: 300px;
    height: 35px;
    border: none;
    border-radius: 10px;
    margin-left: 15px;
    font-size: 1.2rem;
    background-color:#858383;
    padding-left: 10px;
}
.search input:focus{
    outline: none;
}
.search button{
    cursor: pointer;
    background-color: #858383;
    margin-left: 5px;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    
}